<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.k8flare.prodprobe</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>-lc</string>
    <string>exec ./scripts/prodprobe-local.sh</string>
  </array>
  <!-- Edit to this checkout's path before loading. -->
  <key>WorkingDirectory</key>
  <string>/Users/CHANGEME/src/github.com/k2wanko/k3s-on-cloudflare</string>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key><integer>2</integer>
    <key>Minute</key><integer>23</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/tmp/k8flare-prodprobe.out</string>
  <key>StandardErrorPath</key>
  <string>/tmp/k8flare-prodprobe.err</string>
</dict>
</plist>
